#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.App {
  width: 100vw;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.banner {
  position: absolute;
  top: 0;
  left: 0;
  width: 150vw;
  height: 450px;
  background-color: aquamarine;
  z-index: -1;
  transform: skew(-45deg) translateX(-55vw)
}

.links img{
  width: 30px;
  height: 30px;
  margin: 0px 15px;
}

/* Intro */

.intro {
  display: flex;
  justify-content: center;
  width: 100vw;
  margin: 2rem;
  margin-bottom: 30vh;
}
.profile {
  display: block;
  position: relative;
  overflow: hidden;
  max-width: 450px;
  height: 450px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.562);
}

.profile img {
  position: relative;
  transform: translate(-32%, -7%)
}

.about-me {
  background-color: white;
  text-align: left;
  color: black;
  margin-top: 4rem;
  margin-bottom: 4rem;
  padding: 2rem;
  width: 450px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.562);
}

.about-me h1 {
  margin-top: 1rem;
}

.about-me .links {
  margin-top: 2rem;
  text-align: right;
}

/* Portfolio */

.portfolio {
  text-align: left;
  width: 100vw;
}

.portfolio h1 {
  font-size: 2rem;
}

.works {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  padding: 30px;
}

.work {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 300px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.562);
}

.work .project-image {
  border: 1px solid white;
}

.work .about-work {
  background-color: white;
  color: black;
  padding: 10px;
}

.work .header {
  display: flex;
  align-items: center;
}

.work h2 {
  font-size: .8rem;
}

.work p {
  font-size: .7rem;
}

.header img {
  width: 25px;
  height: 25px;
}