:root {
 /* Colors */
  --main-color: rgb(31, 221, 174);
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}

.App {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.links img{
  width: 30px;
  height: 30px;
  margin: 0px 15px;
}

/* Intro */

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

#canvas {
  position: absolute;
  
}

.heading {
  font-size: 5rem;
  line-height: 1;
}

/* About Me   */
.about-me {
  position: relative;
  align-self: center;
  justify-self: center;
  display: flex;
  justify-content: center;
  width: 100vw;
  margin: 2rem;
  margin-bottom: 30vh;
}

.profile {
  display: block;
  position: relative;
  overflow: hidden;
  max-width: 450px;
  height: 450px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.562);
}

.profile img {
  position: relative;
  transform: translate(-32%, -7%)
}

.about-section {
  background-color: white;
  text-align: left;
  color: black;
  margin-top: 4rem;
  margin-bottom: 4rem;
  padding: 2rem;
  width: 450px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.562);
}

.about-me h1 {
  margin-top: 1rem;
}

.about-me .links {
  margin-top: 2rem;
  text-align: right;
}

/* Tech Stack */
.techstack h1 {
  font-size: 2rem;
  margin-bottom: 50px;
}
.techstack-list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  row-gap: 50px;
  margin-bottom: 50px;
}

.techstack-item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-basis: 33%;
  gap: 20px;
}

.techstack-item img {
  width: 100px;
  height: 100px;
}
#express {
  filter: invert(100%);
}

/* Portfolio */

.portfolio {
  text-align: left;
  width: 100%;
}

.portfolio h1 {
  margin-left: 30px;
  font-size: 2rem;
}

.works {
  display: grid;
  max-width: 1280px;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  padding: 30px;
}

.work {
  display: flex;
  flex-direction: column;
  justify-content: start;
  min-width: 100px;
  background-color: white;
  transition: 1s ease-out;
  /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.562); */
}

.work .img-container {
  width: 100%;
  max-height: 393px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: start;
  transition: max-height 1s ease-out;
  background-color: #242424;
}

.work:hover .img-container{
  max-height: 100%;
}

.work .project-image, .project-gif {
  width: 100%;
}


.work .about-work {
  background-color: white;
  color: black;
  padding: 10px;
}

.work .header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.work h2 {
  font-size: .8rem;
}

.work p {
  font-size: .7rem;
}

.header img {
  width: 25px;
  height: 25px;
}

/* Contact */

.contact {
  background-color: var(--main-color);
  width: 100%;
  height: auto;
  padding-bottom: 5rem;
  padding-top: 2rem;
}

.contact h1 {
  font-size: 2rem;
}

.contact .email {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.contact img {
  width: 50px;
  height: 50px;
}