:root {
 /* Colors */
  --main-color: rgb(31, 221, 174);
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}

.App {
  width: 100vw;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.banner-container {
  width: 100%;
  height: 400px;
  overflow: hidden;
  position: absolute;
  top: 0px;
  left: 0px;
}

.banner {
  position: absolute;
  top: 0;
  left: 0;
  width: 150vw;
  height: 450px;
  background-color: var(--main-color);
  z-index: -1;
  transform: skew(-45deg) translateX(-55vw)
}

.links img{
  width: 30px;
  height: 30px;
  margin: 0px 15px;
}

/* Intro */

.intro {
  display: flex;
  justify-content: center;
  width: 100vw;
  margin: 2rem;
  margin-bottom: 30vh;
}
.profile {
  display: block;
  position: relative;
  overflow: hidden;
  max-width: 450px;
  height: 450px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.562);
}

.profile img {
  position: relative;
  transform: translate(-32%, -7%)
}

.about-me {
  background-color: white;
  text-align: left;
  color: black;
  margin-top: 4rem;
  margin-bottom: 4rem;
  padding: 2rem;
  width: 450px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.562);
}

.about-me h1 {
  margin-top: 1rem;
}

.about-me .links {
  margin-top: 2rem;
  text-align: right;
}

/* Portfolio */

.portfolio {
  text-align: left;
  width: 100%;
}

.portfolio h1 {
  margin-left: 30px;
  font-size: 2rem;
}

.works {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  padding: 30px;
}

.work {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-width: 100px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.562);
}

.work .img-container {
  width: 30vw;
  height: 30vw;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: height 1s ease-out;
}

.work .img-container:hover {
  height: 100%;
}

.work .project-image, .project-gif {
  max-width: 100%;
}


.work .about-work {
  background-color: white;
  color: black;
  padding: 10px;
}

.work .header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.work h2 {
  font-size: .8rem;
}

.work p {
  font-size: .7rem;
}

.header img {
  width: 25px;
  height: 25px;
}

/* Contact */

.contact {
  background-color: var(--main-color);
  width: 100%;
  height: auto;
  padding-bottom: 5rem;
  padding-top: 2rem;
}

.contact h1 {
  font-size: 2rem;
}

.contact .email {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.contact img {
  width: 50px;
  height: 50px;
}